** {
  margin: 0;
  padding: 0;
  font-family: arial;
  color: #fff;
}

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background: #081b29;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

::-webkit-input-placeholder {
  color: #eee;
}

.wrapper {
  display: flex; /* Cambiado de grid a flex */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  flex-direction: column; /* Apila los elementos verticalmente */
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  border: 3px solid #00ffff;
  box-shadow: 0 0 20px rgba(0, 166, 188, 0.5);
  background: #0e0e0e;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0ef;
}

.tittle {
  font-size: 24px;
  margin-bottom: 0px;
  border-bottom: 2px solid #eee;
  padding-bottom: 5px;
}

.inp {
  position: relative; /* Se añade posición relativa para permitir el posicionamiento del borde */
}

.input {
  border: none;
  outline: none;
  background: none;
  width: 260px;
  margin-top: 40px;
  padding-right: 10px;
  padding-bottom: 5px;
  font-size: 17px;
  color: #0ef;
  border-bottom: 2px solid #eee; /* Se añade un borde inferior de color #eee */
}

.submit {
  border: none;
  outline: none;
  width: 288px;
  margin-top: 25px;
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
  border-radius: 40px;
  letter-spacing: 1px;
  cursor: pointer;
  background: linear-gradient(45deg, #0ef, #c800ff);
}

.footer {
  margin-top: 24px;
  letter-spacing: 0.5px;
  font-size: 14px;
}

.link {
  color: #c800ff;
  text-decoration: none;
}

.banner {
  position: absolute;
  top: 0;
  right: 0;
  width: 450px;
  height: 100;
  background: linear-gradient(to right, #0ef, #c800ff);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
  padding-right: 70px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.wel_text {
  font-size: 32px;
  margin-bottom: 10px;
  position: absolute;
  top: 10px;
  font-weight: bold;
  color: #eee;
}

.para {
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  color: #eee;
  top: 45px; /* Ajusta la distancia desde la parte superior */
  font-weight: bold; /* Agregado para hacer el texto en negrita */
}

.second-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0e0e0e;
  color: #fff;
  text-align: center;
  padding: 10px;
}
